<%- include('partials/header') %>

<main>
    <section class="blog-list">
        <% blogPosts.forEach(blog => { %>
        <div class="blog-post">
            <img src="<%= blog.image %>" alt="<%= blog.title %>">
            <h2><%= blog.title %></h2>
            <p><%= blog.content.substring(0, 100) %>...</p>
            <a href="/blog/<%= blog.title %>">Read More</a>
        </div>
        <% }); %>
    </section>
</main>

<%- include('partials/footer') %>
